@media (min-width : 300px) and (max-width : 361px){
    .custom_searchBar
    {
        padding-left:34px;
    }

    .headerText
    {
        font-size: 1.5rem;
        margin-left:20%;
    }

    .cardsDIV
    {
        margin-left: 2rem;
    }
}
@media (min-width : 360px) and (max-width : 371px){
    .custom_searchBar
    {
        padding-left:34px;
    }

    .headerText
    {
        font-size: 1.5rem;
        margin-left:20%;
    }

}
@media (min-width : 372px) and (max-width : 432px){
    .custom_searchBar
    {
        padding-left:47px;
    }

    .headerText
    {
        font-size: 1.5rem;
        margin-left:20%;
    }
    .cardsDIV
    {
        margin-left: 3.1rem;
    }
}
@media (min-width : 760px) {
    .custom_searchBar
    {
        padding-left:11.4rem;
    }
    .headerText
    {
        margin-left: 14rem;
        font-size: 2rem;
    }
    .cardsDIV
    {
        margin-left: 2.5rem;
    }
}

@media (min-width : 800px)
{
    .headerText
    {
        margin-left: 23rem;
        font-size: 2rem;
    }
    .cardsDIV
    {
        margin-left: 3.9rem;
    }
}
@media (min-width : 820px)
{
    .headerText
    {
        margin-left: 14rem;
        font-size: 2rem;
    }
    
}
@media (min-width : 911px)
{
    .headerText
    {
        margin-left: 18rem;
        font-size: 2rem;
    }
    .custom_searchBar
    {
        padding-left:84px;
    }
    .cardsDIV
    {
        margin-left: 7rem;
    }
}

@media (min-width : 1024px)
{
    .headerText
    {
        margin-left: 17rem;
        font-size: 3rem;
    }
    .custom_searchBar
    {
        padding-left: 15.3rem;
    }
    .cardsDIV
    {
        margin-left: 10rem;
    }
}
@media (min-width : 1270px)
{
    .headerText
    {
        margin-left: 25rem;
        font-size: 3.4rem;
    }
    .custom_searchBar
    {
        padding-left: 23.3rem;
    }
    .cardsDIV
    {
        margin-left: 8rem;
    }
}
@media (min-width : 1282px)
{
    .headerText
    {
        margin-left: 26.3rem;
        font-size: 3.4rem;
    }
    .custom_searchBar
    {
        padding-left: 28.3rem;
    }
    .cardsDIV
    {
        margin-left: 3rem;
    }
}
