

/* for mid level devices  */

@media only screen and (min-width : 768px)
{
    .responsive_cards
    {
        width : 300px;
    }
}

@media only screen and (min-width : 1024px)
{
    .responsive_cards
    {
        margin-right:2px;
    }
    .responsive_parent_cards
    {
        display: flex;
        flex-wrap: wrap;
    }
}