body 
{
    height: 100vh;
    background: hsla(272, 78%, 16%, 1);

    background: linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2B0948", endColorstr="#CE653B", GradientType=1 );
    
    padding-top: 23px;
}