#taskParent 
{
    /* border: 1px solid black; */
    border-radius: 5px;
    /* background-color: rgb(71, 192, 24); */
    display: flex;
    align-items: center;
    height: 71px;
    margin-bottom: 23px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.133);
}